/* Embla Carousel CSS */
.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
   /* Adjust the gap between slides as needed */
}

.embla__slide {
  flex: 0 0  calc((100% / 4) ); /* Four slides per view, minus the gap */
  width:185px;
}

.embla__slide:last-child {
  margin-right: 0; /* Remove the margin from the last slide */
}
